<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Control de Servicios - Servicio 5 estrellas</title>

<!-- Página index usada hasta la versión 20200131 commiteada en esa misma fecha. -->
<!-- La página getallclients.html de esta versión pasó a ser la nueva página index.html -->

<!-- <link rel="stylesheet" type="text/css" href="/css/custom.css"/> -->

<!-- <script type="text/javascript" src="/js/custom.js"></script> -->
</head>
<body>

	<h1>Servicios REST con Spring Boot</h1>
	
	<p>Aplicación  DEMO que implementa servicios REST con Spring Boot y los consume con Angular JS </p>

	<br>
	<h2>Consumo de servicios REST con Angular JS </h2>
    
    <a href="/getallclients">Mostrar todos los clientes</a>
    <br>
    <br>
    <a href="/getcliente">Datos de un cliente</a>
    <br>
    <br>
<!--     opción pendiente. Tal vez no sea necesario implementarla -->
<!--     <a href="/getclientebyid?id=987">Datos de un cliente by ID</a> -->
<!--     <br> -->
<!--     <br> -->
<!--     <p>Servicio REST insert (http://localhost:8080/clientes/) invocado con AngularJS </p> -->
    <a href="/insertclient">Crear un cliente (Insert)</a>
    <br>
    <br>
    <a href="/modifyclient">Modificar un cliente </a>
    <br>
    <br>
<!--     <p>Servicio REST delete (http://localhost:8080/clientes/) invocado con AngularJS </p> -->
    <a href="/deletecliente">Borrar un cliente (Delete)</a>
    <br>
    <br>
    <br>
        
    <h2>Opciones de Administración </h2>
    
<!--     <a href="/jquerygetcliente">Datos de un cliente</a> -->
<!--     <br> -->
<!--     <br> -->

<!--     <a href="/jqueryinsert">Crear un cliente (Insert)</a> -->

<!-- 	<a href="/generarTipoServicios">Generar Tipos de Servicios</a> -->
<!-- 	<br> -->
<!--     <br> -->
    
<!-- 	<a href="/genSequences">Generar Sequences</a> -->
<!-- 	<br> -->
<!--     <br> -->

<!-- 	<a href="/crearcliente">Crear un Cliente de Prueba</a> -->
<!-- 	<br> -->
<!--     <br> -->
    
    <br>
    <br>

	<a href="/test">test</a>
    
</body>
</html>